*/aws.txt
*.lock.hcl
*.tfstate
*.tfstate.backup
.terraform
.terraform/*
terraform/.terraform/*
env/*
env
./env/*
env/lib/python3.11/
env/lib/python3.11/*
terraform/.terraform.tfstate.lock.info
terraform/provider.tf
